<%- include('components/header.ejs') %>
    <div class="container">
        <div class="row">
            <form action="/admin/movie/new" method="POST" class="form-horizontal">
              <div class="form-group">
                  <label class="col-sm-2 control-label">Sync Douban</label>
                  <div class="col-sm-10">
                      <input class="form-control" type="text" id="douban" placeholder="Go to https://movie.douban.com/ to get movie id">
                  </div>
              </div>
                <% if(movie._id){ %>
                <input type="hidden" name="movie[_id]" value="<%= movie._id %>">
                <% } %>
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">Movie name</label>
                    <div class="col-sm-10">
                         <input type="text" id="inputTitle" name="movie[title]" value="<%= movie.title %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCategory" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                         <input type="text" id="inputCategory" name="movie[categoryName]" value="<%= movie.categoryName %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Type</label>
                    <% category.forEach(function(cate){ %>
                      <label class="radio-inline">
                          <% if(movie._id) { %>
                            <% if(cate._id.toString()==movie.category.toString()) { %>
                              <input type="radio" name="movie[category]" value="<%= cate._id %>" checked="checked">
                            <% } %>
                          <% } else { %>
                            <input type="radio" name="movie[category]" value="<%= cate._id %>"  >
                          <% } %>
                          <%= cate.name %>
                      </label>
                    <% }) %>
                </div>
                <div class="form-group">
                    <label for="inputDirector" class="col-sm-2 control-label">Director</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputDirector" name="movie[director]" value="<%= movie.director %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCountry" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputCountry" name="movie[country]" value="<%= movie.country %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLanguage" class="col-sm-2 control-label">Language</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputLanguage" name="movie[language]" value="<%= movie.language %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPoster" class="col-sm-2 control-label">Poster address</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputPoster" name="movie[poster]"  value="<%= movie.poster %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFlash" class="col-sm-2 control-label">Preview address</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputFlash" name="movie[flash]" value="<%= movie.flash %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputYear" class="col-sm-2 control-label">Year</label>
                    <div class="col-sm-10">
                        <input type="text" id="inputYear" name="movie[year]" value="<%= movie.year %>" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSummary" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea name="movie[summary]" id="inputSummary" cols="30" rows="5" class="form-control"><%= movie.summary %></textarea>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default" type="submit">Submit</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/admin.js"></script>
<%- include('components/footer.ejs') %>

